body {
  font-family: "Poppins", sans-serif !important;
}

.content, .welcome-page {
  background-image: url(./images/jj.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.shadow {
  min-width: 400px;
  background: rgb(48, 48, 48);
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgb(87, 87, 87);
}

.form-group {
  position: relative;
}
.form-group input {
  background: rgba(255, 255, 255, 0.08) !important;
  color: white !important;
  border-color: transparent !important;
}
.form-group input::-moz-placeholder {
  color: rgb(160, 160, 160);
  font-weight: 300;
}
.form-group input:-ms-input-placeholder {
  color: rgb(160, 160, 160);
  font-weight: 300;
}
.form-group input::placeholder {
  color: rgb(160, 160, 160);
  font-weight: 300;
}
.form-group .field-icon {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
  color: white;
  cursor: pointer;
}

.form-control {
  height: 50px;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: white !important;
}

.form-check label {
  font-weight: 400;
}
.form-check .form-check-input {
  transition: 0.2s ease;
}
.form-check .form-check-input:checked, .form-check .form-check-input:focus {
  box-shadow: none !important;
}

.anchor {
  font-weight: 300;
}

@media (max-width: 450px) {
  .shadow {
    min-width: 350px;
  }
}
.active-sp {
  background: rgba(38, 46, 78, 0.9) !important;
}

.app {
  background: rgb(241, 241, 241);
}
.app .navbar .container-fluid {
  position: relative;
}
.app .navbar #cart {
  margin-right: 2rem;
  width: 50px;
  font-size: 1.2rem;
  color: rgb(73, 73, 73);
  position: relative;
}
.app .navbar #cart span {
  background: red;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: -0.4rem;
  display: none;
}
.app .navbar-brand {
  display: flex;
  align-items: center;
}
.app .navbar-brand h1 {
  font-weight: 600;
}
.app .navbar-brand img {
  margin-right: 3px;
}
.app .nav-link {
  font-weight: 500;
}
.app .cart-parent {
  order: 3;
}
.app .main {
  padding: 2.3rem 2.3rem 4rem 2.3rem;
}
.app .main .calories .gm {
  font-weight: 600;
}
.app .main .sandwich-name {
  position: relative;
  padding-bottom: 0.6rem;
  font-weight: 600;
}
.app .main .sandwich-name::before {
  content: "";
  background: rgb(253, 217, 13);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10rem;
  height: 2px;
}
.app .main .sandwich-info {
  margin-bottom: 2.6rem;
  color: rgb(107, 107, 107);
  font-size: 0.9rem;
}
.app .main .counter-parent {
  background-color: rgb(211, 211, 211);
  width: 6rem;
  font-weight: 500;
}
.app .main .details {
  padding: 0 0 0 4rem;
}
.app .main .add-cart {
  padding-top: 4rem;
}
.app .main .price {
  font-weight: 600;
  margin: 0 1rem;
}
.app .items {
  overflow: auto hidden;
}
.app .items::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.app .items .left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.app .items .left button {
  height: 190px;
}
.app .items .left button:focus {
  box-shadow: none !important;
}
.app .items .right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.app .items .right button {
  height: 190px;
}
.app .items .right button:focus {
  box-shadow: none !important;
}
.app .items .style-sp {
  background: #11131b;
  min-width: 300px;
  padding: 0.5rem;
  cursor: pointer;
  border: 4px solid transparent;
  transition: 0.2s;
}

.img {
  width: 200px;
}

.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 767px) {
  .main .sandwich-img {
    order: 1;
  }
  .main .details {
    order: 2;
  }
  .main .sandwich-name::before {
    display: none;
  }
}
@media (max-width: 992px) {
  .navbar-brand {
    order: 1;
  }
  .cart-parent {
    order: 2;
  }
  #navbarSupportedContent {
    order: 3;
  }
  #cart {
    width: 40px !important;
    margin-right: 0 !important;
  }
  .main .sandwich-img {
    margin-bottom: 1rem;
  }
  .main .details {
    text-align: center;
    padding: 0 !important;
  }
}/*# sourceMappingURL=style.css.map */